* {
    margin: 0;
    padding: 0;
}

/* Style Untuk Navbar Termasuk dengan buttonnya */
.navbar {
    display: flex;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    align-items: center;
    justify-content: center;
}

.navbar-button ul {
    display: flex;
}

.navbar-button li {
    list-style-type: none;


}

.navbar-button li a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.navbar-button li a:hover {
    color: black;
    background-color: white;
}


/* Stle Untuk container dibawah web */

.container1 {
    width: 98%;
    height: 400px;
    margin-top: 20px;
    margin-left: 1%;
    border-radius: 15px;
    display: flex;
    background-color: white;

}

.container1:hover {
    box-shadow: 5px 6px 15px grey;
}

.sidekiri {
    flex: 3;
    margin-left: 20px;
    margin-top: 50px;
}

.container1 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}

.nama-saya {
    color: orange;
}

.sidekanan {
    flex: 1;
    display: flex;
    margin: auto;
}

.foto {
    background: url(foto1.jpg);
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -40px;

}

.sosmed h3 {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sosmed {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.sosmed h2 {
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
}

.facebook {
    font-size: 20px;
}

.facebook ::before {
    content: "";
    background: url(fb.png);
    height: 30px;
    width: 30px;
    display: block;
    background-size: cover;
    float: left;
    margin-right: 10px;
}

.instagram ::before {
    content: "";
    background: url(ig.png);
    background-size: cover;
    float: left;
    display: block;
    width: 40px;
    height: 35px;
    margin-right: 10px;
    margin-top: -4px;

}


@media only screen and (max-width: 820px) {
    .navbar li a {
        font-size: 12px;
        padding: 10px;
    }
}